:host ::ng-deep .ui-table-customers {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

  .ui-paginator {
    .ui-dropdown {
      float: left;
    }

    .ui-paginator-current {
      float: right;
    }
  }

  .ui-column-filter {
    display: block;
    width: 100%;

    input {
      width: 100%;
    }
  }

  .ui-table-globalfilter-container {
    float: right;

    input {
      width: 200px;
    }
  }

  .ui-table-caption {
    border: 0 none;
    padding: 12px;
    text-align: left;
    font-size: 20px;
  }

  .ui-paginator {
    border: 0 none;
    padding: 1em;
  }

  .ui-table-thead > tr > th {
    border: 0 none;
    text-align: left;
    font-size: 0.9em;

    &.ui-filter-column {
      border-top: 1px solid #c8c8c8;
    }

    &:last-child {
      width: 4em;
      text-align: center;
    }

  }

  .ui-table-tbody > tr > td {
    border: 0 none;
    cursor: pointer;

    &:last-child {
      width: 5em;
      text-align: center;
    }
  }

  .ui-dropdown-label:not(.ui-placeholder) {
    text-transform: uppercase;
  }

  .ui-table-tbody > tr > td .ui-column-title {
    display: none;
  }

  .customer-badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.active {
      background-color: #C8E6C9;
      color: #256029;
    }

    &.unactive {
      background-color: #FFCDD2;
      color: #C63737;
    }
  }

  .avatar {
    img {
      width: 32px;
      border-radius: 50%;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      margin-left: .5em
    }
  }

}
