<div class="page-wrapper">
  <p-card>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <ng-container *ngIf="client">
          <div class="avatar">
            <img [src]="client.avatarUrl">
          </div>
          <table class="client-table">
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td data-label="ნომერი">#{{ client.id }}</td>
              <td data-label="კლიენტი">{{ client.fullName }}</td>
              <td data-label="პირადი ნომერი">{{ client.personalNumber }}</td>
              <td data-label="სქესი">{{ client.sex }}</td>
              <td data-label="ტელეფონი">{{ client.phone }}</td>
              <td data-label="ფაქტიური მისამართი">{{ client.fullActualAddress }}</td>
              <td data-label="იურიდიული მისამართი">{{ client.fullLegalAddress }}</td>
            </tr>
          </table>
        </ng-container>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <div class="ui-g ui-fluid">
          <h2>ანგარიშები</h2>
        </div>
        <div class="ui-g ui-fluid">
          
          <div class="ui-g-12">
            <form (submit)="onFormSubmit()" [formGroup]="accountForm">
              <p-fieldset legend="ანგარიშის დამატება" >
                <div class="ui-g-6">
                  <p-dropdown formControlName="type" [options]="accountTypeOptions" placeholder="აირჩიეთ ტიპი" [showClear]="true"></p-dropdown>
                </div>
                <div class="ui-g-6">
                  <p-multiSelect formControlName="currency" [options]="accountCurrencyOptions"
                    defaultLabel="აირჩიეთ ვალუტა" maxSelectedLabels="4" [filter]="false"></p-multiSelect>
                </div>
                <div class="ui-g-12">
                  <button [disabled]="!accountForm.valid" type="submit" pButton icon="pi pi-check" iconPos="left" label="დამატება"
                    class="ui-button-success"></button>
                </div>
              </p-fieldset>
            
            </form>
          </div>

          <div class="ui-g-12">
            <ng-container *ngIf="client && client.accounts && client.accounts.length">
              <p-table [showCurrentPageReport]="true" #dataTable [value]="client.accounts"
                dataKey="id" styleClass="ui-table-customers" [rowHover]="true" 
                [filterDelay]="0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>ანგ. ნომერი</th>
                    <th>ტიპი</th>
                    <th>ვალუტა</th>
                    <th>სტატუსი</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account>
                  <tr class="ui-selectable-row">
                    <td>{{ account.id }}</td>
                    <td>{{ account.type }}</td>
                    <td>{{ account.currency }}</td>
                    <td>
                      <span class="customer-badge" [class]="account.status === 'აქტიური' ? 'active' : 'unactive'">
                        {{ account.status }}
                      </span>
                    </td>
                    <td>
                      <button pButton (click)="$event.stopPropagation();"
                        [matMenuTriggerFor]="menu" type="button" class="ui-button-secondary"
                        icon="pi pi-cog"></button>
                      <mat-menu #menu="matMenu">
                        <button (click)="onCloseAccount()" mat-menu-item>
                          ანგარიშის დახურვა
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-container>
            
          </div>
          
        </div>
      </div>
    </div>
  </p-card>
</div>
